header {
    position: fixed;
    background-color: silver;
    width: 100%;
    box-shadow: 0px 5px 5px #000000;
    align-items: baseline;
    z-index: 999;
    top: 0;
}

.dining {
    width: 100%;
    /*filter: brightness(50%);*/
    height: fit-content;
}